.navbar-movies {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.01));
    width: 100%;
    height: 70px;
    position: absolute;
    z-index: 2;
    top: 0;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-movies-container {
    width: 95%;
    height: 50px;

    margin: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-movies-link-container {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar-movies-link-container > a {
    text-decoration: none;
    font-size: 17px;
}


.movies-logo {
    width: 170px;
    height: 45px;

    font-size: 40px;
    text-align: center;
}

.home-login-link {
    width: 80px;
    height: 30px;

    font-size: 20px;
    text-align: center;
    text-decoration: none;

    padding-top: 2px;

    border: 1px solid black;
    border-radius: 5px;
}

.navbar-movies-link-container > a {
    color: rgb(218, 214, 214);
    font-weight: bold;
    transition: 200ms ease-in-out;
}

.navbar-movies-link-container > a:hover {
    color: white
}

.profile-nav-img-container {
    width: 40px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
}

.profile-nav-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 4px;
    transition: 200ms ease-in-out;
    filter: brightness(70%);
}

.profile-nav-img:hover {
    filter: brightness(100%);
}

.profile-dropdown-container {
    background-color: rgba(0, 0, 0, 0.7);
    width: 200px;
    min-height: 100%;
    border-radius: 4px;

    position: absolute;
    right: 20px;
    top: 70px;
    z-index: 5;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.profile-pick-div {
    margin: 10px;
}

.profile-dropdown-sect {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 180px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 200ms ease-in-out;
    filter: brightness(60%);
}

.profile-dropdown-sect:hover {
    filter: brightness(100%);
}

.profile-manage-link {
    width: 180px;
    text-align: center;
    text-decoration: none;

    border-top: 1px solid rgb(90, 88, 88);
    padding-top: 20px;
    border-bottom: 1px solid rgb(90, 88, 88);
    padding-bottom: 20px;
    color: rgb(189, 189, 189);
    transition: 200ms ease-in-out;
}

.profile-manage-link:hover {
    color: white;
}

.profile-logout {
    width: 180px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-btn {
    color: rgb(189, 189, 189);
    font-weight: bold;
    cursor: pointer;

    margin: 20px 0px;
    transition: 200ms ease-in-out;
}

.logout-btn:hover {
    color: white;
}
