.home-container {
    background-color: rgb(51, 51, 51);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* SUB CONTAINER 1 */
.home-sub-container-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.3)), url('./images/homeMovieList.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 750px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-form-container {
    width: 950px;
    height: 510px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-text-container-top {
    width: 800px;
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.landing-top-text {
    width: 800px;
    height: 140px;


    font-size: 64px;
    font-family: system-ui;
    font-weight: bold;
    color: white;

    text-align: center;
}

.landing-bottom-text {
    width: 800px;
    height: 35px;

    font-size: 24px;
    font-family: system-ui;
    font-weight: 500;
    color: white;

    padding: 16px 0px;

    text-align: center;
}

.landing-text-container-bottom {
    width: 700px;
    height: 120px;

    margin-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.under-landing-top-text {
    width: 700px;
    height: 50px;

    font-size: 20px;
    font-family: system-ui;
    font-weight: 500;
    color: white;

    text-align: center;
}

.under-landing-bottom-text {
    width: 700px;
    height: 70px;

    font-family: system-ui;
    font-weight: 500;
    color: white;

    display: flex;
    justify-content: center;
}

.landing-signup-input {
    width: 500px;
    height: 70px;

    border-radius: 3px 0px 0px 3px;
}

.landing-signup-input:focus {
    outline: none;
}

.landing-signup-button {
    width: 200px;
    height: 70px;

    background-color: rgb(172, 3, 3);
    color: white;
    border-radius: 0px 3px 3px 0px;
}


/* SUB CONTAINER 2 */
.home-sub-container-2 {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 465px;

    margin-top: 8px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-2-text {
    width: 600px;
    height: 325px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-container-2-text {
    width: 600px;
    height: 125px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.sub-container-2-top-text {
    width: 550px;
    height: 55px;

    font-size: 50px;
    font-family: system-ui;
    font-weight: bold;
    color: white;
}

.sub-container-2-bottom-text {
    width: 500px;
    height: 55px;

    padding-top: 20px;

    font-size: 20px;
    font-family: system-ui;
    font-weight: 500;
    color: white;
}


.sub-container-2-img {
    width: 500px;
    height: 325px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container-2-img {
    z-index: 2;
}

.container-2-inner-gif {
    position: absolute;
    width: 300px;
    height: 170px;
    background-image: url('https://notflix-clone-bucket.s3.us-west-1.amazonaws.com/AngelicAgonizingEidolonhelvum-size_restricted.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 80px;
    z-index: 0;
}


/* SUB CONTAINER 3 */

.home-sub-container-3 {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 465px;


    margin-top: 8px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.container-3-text {
    width: 600px;
    height: 325px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-container-3-text {
    width: 600px;
    height: 225px;

    padding-left: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.sub-container-3-top-text {
    width: 550px;
    height: 45px;

    font-size: 45px;
    font-family: system-ui;
    font-weight: bold;
    color: white;
}

.sub-container-3-bottom-text {
    width: 500px;
    height: 55px;

    margin-bottom: 50px;

    font-size: 20px;
    font-family: system-ui;
    font-weight: 500;
    color: white;
}


.sub-container-3-img {
    background-color: rgb(0, 0, 0);
    width: 500px;
    height: 325px;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* SUB CONTAINER 4 */
.home-sub-container-4 {
    background-color:rgb(0, 0, 0);
    width: 100%;
    height: 465px;


    margin-top: 8px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-4-text {
    width: 600px;
    height: 325px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-container-4-text {
    width: 600px;
    height: 125px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.sub-container-4-top-text {
    width: 550px;
    height: 55px;

    font-size: 45px;
    font-family: system-ui;
    font-weight: bold;
    color: white;
}

.sub-container-4-bottom-text {
    width: 400px;
    height: 55px;

    font-size: 20px;
    font-family: system-ui;
    font-weight: 500;
    color: white;
}


.sub-container-4-img {
    width: 500px;
    height: 325px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container-4-img {
    z-index: 2;
}

.container-4-inner-gif {
    position: absolute;
    width: 240px;
    height: 120px;
    background-image: url('https://notflix-clone-bucket.s3.us-west-1.amazonaws.com/1_3J1v4OxYQP7_-hPcirfNHw.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 50px;
    z-index: 0;
}

/* SUB CONTAINER 5 */
.home-sub-container-5 {
    background-color:rgb(0, 0, 0);
    width: 100%;
    height: 465px;

    margin-top: 8px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-5-text {
    width: 600px;
    height: 325px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-container-5-text {
    width: 600px;
    height: 125px;

    padding-left: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.sub-container-5-top-text {
    width: 550px;
    height: 55px;

    font-size: 45px;
    font-family: system-ui;
    font-weight: bold;
    color: white;
}

.sub-container-5-bottom-text {
    width: 400px;
    height: 55px;

    font-size: 20px;
    font-family: system-ui;
    font-weight: 500;
    color: white;
}


.sub-container-5-img {
    background-color: rgb(0, 0, 0);
    width: 500px;
    height: 325px;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* SUB CONTAINER 6 */
.home-sub-container-6 {
    background-color:rgb(0, 0, 0);
    width: 100%;
    height: 940px;

    margin-top: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-inner-container-6 {

    width: 1400px;
    height: 800px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-container-6-FAQ {
    width: 1400px;
    height: 55px;
    margin: 50px;

    font-size: 50px;
    font-family: system-ui;
    font-weight: bold;
    color: white;

    text-align: center;
}

.sub-container-6-questions {
    width: 815px;
    height: 450px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.q-1 {
    background-color: #303030;
    width: 815px;
    height: 75px;
    margin: 5px 0px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}
.q-2 {
    background-color: #303030;
    width: 815px;
    height: 75px;
    margin: 5px 0px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.q-3 {
    background-color: #303030;
    width: 815px;
    height: 75px;
    margin: 5px 0px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.q-4 {
    background-color: #303030;
    width: 815px;
    height: 75px;
    margin: 5px 0px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.q-5 {
    background-color: #303030;
    width: 815px;
    height: 75px;
    margin: 5px 0px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.q-6 {
    background-color: #303030;
    width: 815px;
    height: 75px;
    margin: 5px 0px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.q-1-q {
    color: white;
    font-size: 25px;
    margin-left: 30px;
}
.q-2-q {
    color: white;
    font-size: 25px;
    margin-left: 30px;
}
.q-3-q {
    color: white;
    font-size: 25px;
    margin-left: 30px;
}
.q-4-q {
    color: white;
    font-size: 25px;
    margin-left: 30px;
}
.q-5-q {
    color: white;
    font-size: 25px;
    margin-left: 30px;
}
.q-6-q {
    color: white;
    font-size: 25px;
    margin-left: 30px;
}

.q-1-btn {
    background-color: #303030;
    width: 90px;
    height: 50px;
    cursor: pointer;
}
.q-1-img {
    width: 50px;
    height: 40px;
    object-fit: contain;
}

.a-1 {
    background-color: #303030;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 8px 0px;
    border-radius: 0px 0px 8px 8px;
    height: 0px;
    width: 815px;

    position: absolute;
    top: 5px;
    opacity: 0;
    z-index: 2;

    color: white;
    font-size: 20px;

    transition: ease 200ms;
}
.a-2 {
    background-color: #303030;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 8px 0px;
    border-radius: 0px 0px 8px 8px;
    height: 0px;
    width: 815px;

    position: absolute;
    top: 5px;
    opacity: 0;
    z-index: 2;

    color: white;
    font-size: 20px;

    transition: ease 200ms;
}
.a-3 {
    background-color: #303030;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 8px 0px;
    border-radius: 0px 0px 8px 8px;
    height: 0px;
    width: 815px;

    position: absolute;
    top: 5px;
    opacity: 0;
    z-index: 2;

    color: white;
    font-size: 20px;

    transition: ease 200ms;
}
.a-4 {
    background-color: #303030;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 8px 0px;
    border-radius: 0px 0px 8px 8px;
    height: 0px;
    width: 815px;

    position: absolute;
    top: 5px;
    opacity: 0;
    z-index: 2;

    color: white;
    font-size: 20px;

    transition: ease 200ms;
}
.a-5 {
    background-color: #303030;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 8px 0px;
    border-radius: 0px 0px 8px 8px;
    height: 0px;
    width: 815px;

    position: absolute;
    top: 5px;
    opacity: 0;
    z-index: 2;

    color: white;
    font-size: 20px;

    transition: ease 200ms;
}
.a-6 {
    background-color: #303030;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 8px 0px;
    border-radius: 0px 0px 8px 8px;
    height: 0px;
    width: 815px;

    position: absolute;
    top: 5px;
    opacity: 0;
    z-index: 2;

    color: white;
    font-size: 20px;

    transition: ease 200ms;
}

.a-1 > div {
    margin-left: 30px;
    margin-right: 30px;
}
.a-2 > div {
    margin-left: 30px;
    margin-right: 30px;
}
.a-3 > div {
    margin-left: 30px;
    margin-right: 30px;
}
.a-4> div {
    margin-left: 30px;
    margin-right: 30px;
}
.a-5 > div {
    margin-left: 30px;
    margin-right: 30px;
}
.a-6 > div {
    margin-left: 30px;
    margin-right: 30px;
}

.q-1:hover > .a-1 {
    transition-delay: 0.5s;
    opacity: 1;
    height: 140px;
    top: 50px;
}
.q-2:hover > .a-2 {
    transition-delay: 0.5s;
    opacity: 1;
    height: 140px;
    top: 50px;
}
.q-3:hover > .a-3 {
    transition-delay: 0.5s;
    opacity: 1;
    height: 140px;
    top: 50px;
}
.q-4:hover > .a-4 {
    transition-delay: 0.5s;
    opacity: 1;
    height: 140px;
    top: 50px;
}
.q-5:hover > .a-5 {
    transition-delay: 0.5s;
    opacity: 1;
    height: 140px;
    top: 45px;
}
.q-6:hover > .a-6 {
    transition-delay: 0.5s;
    opacity: 1;
    height: 140px;
    top: 50px;
}
/* =================IMAGES=================== */

.container-2-img,
.container-3-img,
.container-4-img,
.container-5-img {
    width: 400px;
    height: 285px;
}

.a-2 > div > a {
    color: red;
    text-decoration: none;
}

.a-5 > div > a {
    color: rgb(87, 87, 246);
    text-decoration: none;
}
