.profile-page-container {
    background-color: rgb(34, 26, 39);
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-form {
    width: 900px;
    height: 375px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.profile-question {
    width: 900px;
    height: 60px;

    font-size: 50px;
    font-family: system-ui;
    color: white;
    text-align: center;
}

.profile-picker-div {
    width: 900px;
    height: 215px;

    /* margin: 40px 0px; */

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profile-main-new {
    background-color: burlywood;
    width: 150px;
    height: 150px;

    border-radius: 8px;
}

.profile-manage-btn-div {
    width: 230px;
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-manage-btn {
    width: 230px;
    height: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid rgb(144, 116, 116);

    font-size: 20px;
    font-family: system-ui;
    color: rgb(141, 138, 138);
    text-align: center;
    text-decoration: none;
}

.profile-main-img {
    width: 150px;
    height: 150px;

    border-radius: 8px;
}

.profile-name {
    width: 150px;
    height: 35px;

    margin: 10px 0px;

    font-size: 20px;
    font-family: system-ui;
    color: rgb(141, 138, 138);
    text-align: center;
}
