.browse-preview-container {
    background-color:rgb(13, 13, 98);
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.browse-preview-feature-info {
    background-color: rgb(109, 83, 17);
    width: 550px;
    height: 450px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.browse-preview-feature-title {
    background-color: darkgreen;
    width: 550px;
    height: 220px;

    text-align: center;
}

.browse-preview-feature-summary {
    background-color: darkkhaki;
    width: 550px;
    height: 90px;

    margin-top: 25px;
    text-align: center;
}

.browse-preview-feature-btn-container {
    width: 550px;
    height: 60px;

    margin-top: 25px;
}

.browse-preview-play-btn {
    width: 125px;
    height: 60px;

    margin-right: 20px;
}

.browse-preview-more-info-btn {
    width: 155px;
    height: 60px;
}


.browse-car-featured {
    background-color: burlywood;
    width: 100%;
    height: 220px;

    display: flex;
    align-items: center;
    padding: 0 55px;
    transform: translateY(-100px);
}

.browse-car-action {
    background-color: cadetblue;
    width: 100%;
    height: 220px;

    display: flex;
    align-items: center;
    padding: 0 55px;
    transform: translateY(-100px);
}


.browse-img {
    background: green;
    width: 300px;
    height: 160px;

    object-fit: cover;
    text-align: center;
    margin: 0 2px;
    transition: transform 300ms ease 100ms;
}

.browse-img:hover {
  transition-delay: 0.5s;
  /* transform not behaving as I would like it to - important to keep it in check, remove after carousel fully complete possibly */
  transform: scale(1.5) !important;
}
