.browse-top-container {
    background-color: #141414;
}

.browse-preview-container {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.featured-video {
    position: absolute;
}

.browse-preview-feature-info {
    width: 550px;
    height: 450px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transform: translateX(100px);
    transform: translateY(100px);
    z-index: 2;
}

.browse-preview-feature-title {
    width: 550px;
    height: 120px;
    color: white;
    font-size: 85px;
    font-family: system-ui;
}

.browse-preview-feature-summary {
    width: 550px;
    height: 50px;
    color: white;

    /* margin-top: 25px; */
    font-size: 21.5px;
    font-family: system-ui;
}

.browse-preview-feature-btn-container {
    width: 550px;
    height: 60px;

    margin-top: 25px;
}

.browse-preview-play-btn {
    width: 125px;
    height: 45px;

    margin-right: 20px;
    border-radius: 6px;
    font-family: system-ui;
    font-weight: bold;
}

.browse-preview-more-info-btn {
    background-color: rgb(47, 47, 47);
    opacity: 0.8;
    width: 155px;
    height: 45px;

    border-radius: 6px;
    color: white;
    font-weight: bold;
}

/* ================================================= */


.browse-car-featured {
    background-image: linear-gradient(rgba(14, 14, 14, 0.1), rgba(14,14,14, 0.9));
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 55px;
    position: relative;
    /* transform: translateY(-100px); */
}

.react-player {
  position: absolute;
  overflow: hidden !important;
  /* top: 0; */
  /* left: 0; */
  width:250px !important;
  height: 145px !important;
  border-radius: 4px;
  opacity: 0;
}

.browse-car-action {
    background-color: #101010;
    width: 100%;
    height: 220px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* transform: translateY(-100px); */
    padding: 0 55px;
    position: relative;
}


.browse-img {
    background: rgb(0, 0, 0);
    width:250px;
    height: 145px;
    object-fit: cover;
    border-radius: 4px;

    text-align: center;
    margin: 0 2px;
    transition: transform 300ms ease 100ms;
}

.slide-title {
    width: 250px;
    height: 40px;

    font-size: 25px;
    font-family: system-ui;
    font-weight: bold;
    color: white;
}

.browse-car-list {
    width: 100%;
    height: 145px;

    display: flex;
    align-items: center;
}

.browse-img:hover {
    transition-delay: 0.5s;
  /* transform not behaving as I would like it to - important to keep it in check, remove after carousel fully complete possibly */
   transform: scale(1.5) !important;
}

/* ========================================DESCRIPTION BUTTONS */

.material-icons {
    background-color: #141414;
    color: white;
    font-size: 30px;
}

.list-row-1 {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
.list-row-2 {
    display: flex;
    margin: 5px;
}
.list-row-3 {
    display: flex;
    margin: 5px;
}

.list-row-1-btn-play {
    background-color: #141414;
}

.list-row-1-btns {
    background-color: #141414;
}

.list-row-2-rating {
    width: 50px;
    color: #46d369;
    margin-left: 10px;
    font-weight: bolder;
}

.list-row-2-maturity-rating {
    width: 70px;
    border: 1px solid grey;
    text-align: center;
}

.list-row-3-genre-div {
    margin: 0px 0px 0px 10px;
    font-size: 15px;
}
