.login-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.3)), url('../../home/images/homeMovieList.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 100%;
    position: absolute;
    z-index: -1;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8));
    width: 450px;
    height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
}

.login-text {
    width: 315px;
    height: 35px;

    margin: 30px 0px;

    font-size: 32px;
    font-family: system-ui;
    font-weight: bold;
    color: white;
}

.login-email-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-email-input {
    width: 315px;
    height: 50px;
}

.login-password-div {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 15px;
}

.login-password-input {
    width: 315px;
    height: 50px;
}


.login-btn-div {
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-btn {
    background-color: rgb(187, 16, 16);
    width: 315px;
    height: 50px;

    margin: 10px 0px;

    font-size: 15px;
    font-family: system-ui;
    font-weight: bold;
    color: white;
}

.login-to-signup {
    color: white;
    margin: 10px;
}

.login-errors-container {
    text-align: center;
    color: red;
    margin: 10px;
    font-size: 15px;
}
