.signup-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.3)), url('../../home/images/homeMovieList.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 100%;
    position: absolute;
    z-index: -1;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8));
    width: 450px;
    height: 600px;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
}

.signup-text {
    width: 315px;
    height: 35px;

    margin: 30px 0px;

    font-size: 32px;
    font-family: system-ui;
    font-weight: bold;
    color: white;
}

.signup-email-div {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 15px;
}

.signup-email-input {
    width: 315px;
    height: 50px;
}

.signup-username-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-username-input {
    width: 315px;
    height: 50px;
}

.signup-password-div {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 15px;
}

.signup-password-input {
    width: 315px;
    height: 50px;
}

.signup-repeat-password-div {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 15px;
}

.signup-repeat-password-input {
    width: 315px;
    height: 50px;
}


.signup-btn-div {
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-btn {
    background-color: rgb(187, 16, 16);
    width: 315px;
    height: 50px;

    margin: 30px 0px;

    font-size: 15px;
    font-family: system-ui;
    font-weight: bold;
    color: white;
}

.signup-to-login {
    color: white;
}


.signup-errors {
    color: white;
    font-size: 15px;
}
